


{% if feedback.tests %}



{% if feedback.globalok %}
<div style="border:1px solid black;padding:0%;margin:1%;background-color:LightGreen;border-radius:4px;">
<button type="button" class="btn btn-block btn-success"
   data-toggle="collapse" data-target="#suite{{feedback.testgroupenum}}">
{{feedback.name}}
</button>
<div id="suite{{feedback.testgroupenum}}" class="collapse">
<div class="card card-success;" style="background-color: LightGreen;">
{% else %}
<div style="border:1px solid black;padding:1%;margin:1%;background-color:Tomato;border-radius:4px;">
   <button type="button" class="btn btn-block  btn-danger"
      aria-expanded="true" aria-controls="suite{{feedback.testgroupenum}}"
      data-toggle="collapse" data-target="#suite{{feedback.testgroupenum}}">
   {{feedback.name}}
   </button>
   <div id="suite{{feedback.testgroupenum}}" class="show">
      <div class="card card-danger;" style="background-color: Tomato;">
         {% endif %}   
         {% for type,num,text,got,want in feedback.tests %}
         {%  if type=="failure" %}
         <div style="border:1px solid black;padding:1px;margin:1px;background-color:Tomato;border-radius:4px;">
            <button type="button" class="btn btn-block btn-danger"
               aria-expanded="true" aria-controls="demo{{feedback.testgroupenum}}{{num}}"
               data-toggle="collapse" data-target="#demo{{feedback.testgroupenum}}{{num}}">
            {{ text }}
            </button>
            <div id="demo{{feedback.testgroupenum}}{{num}}" class="show">
               <div class="card card-danger;" style="background-color: Tomato;">
                  <br/> Attendu: 
                  <pre style="background: #DDD"><code>{{want}}</code></pre>
                  <br/> Obtenu: 
                  <pre style="background: #DDD"><code>{{got}}</code></pre>
               </div>
            </div>
         </div>
         {% endif %}
         {% if globalfeedback != "" %}
         <div style="border:1px white;padding:1px;margin:1px;background-color:LightBlue;border-radius:4px;">
            {{ globalfeedback }}
         </div>
         {% endif %}
         {% if type=="success" %}
         <div style="border:1px white;padding:1px;margin:1px;background-color:LightGreen;border-radius:4px;">
            <button type="button" class="btn btn-block btn-success"
               data-toggle="collapse" data-target="#demo{{feedback.testgroupenum}}{{num}}">
            {{text}}
            </button>
            <div id="demo{{feedback.testgroupenum}}{{num}}" class="collapse">
               <div class="card card-success;" style="background-color: LightGreen;">
                   {% if want %}
                  <br/> Attendu: 
                  <pre style="background: #DDD"><code>{{want}}</code></pre>
                  <br/> Obtenu: 
                  <pre style="background: #DDD"><code>{{got}}</code></pre>
                  {% else %}
                    Objectif atteint.
                  {% endif %}
               </div>
            </div>
         </div>
         {%  endif %}
         {% if type=="error"  %}
         <div style="border:2px solid yellow;padding:1px;margin:1px;background-color:Tomato;border-radius:4px;">
            <button type="button" class="btn btn-block btn-danger"
               data-toggle="collapse" data-target="#demo{{feedback.testgroupenum}}{{num}}">
            {{ text }} - Error 
            </button>
            <div id="demo{{feedback.testgroupenum}}{{num}}" class="show">
               <div class="card card-danger" style="background-color: Tomato;">
                  <br/> Attendu: 
                  <pre style="background: #DDD"><code>{{want}}</code></pre>
                  <br/> Obtenu: 
                  <pre style="background: #DDD"><code>{{got}}</code></pre>
               </div>
            </div>
         </div>
         {%  endif %}
         {% if  type=="syntax" %}
         <div style="border:2px solid black;padding:1px;margin:1px;background-color:Tomato;border-radius:4px;">
            <button type="button" class="btn btn-block btn-danger"
               data-toggle="collapse" data-target="#demo{{feedback.testgroupenum}}{{num}}">
            {{ text}} ///// {{ want }}
            </button>
            <div id="demo{{feedback.testgroupenum}}{{num}}" class="show">
               <div class="card card-danger" style="background-color: black; ">
                  <p style="color: yellow;">{{got}} </p>
               </div>
            </div>
         </div>
         {%  endif %}
         {% endfor %}
      </div>
   </div>
</div>



{%  endif %}

