
<!--  template pour les correction -->
<style>
    .correction-card-list {
        display:flex;
        flex-direction: column;
    }

    @keyframes on-select{
        0% {
            background-color: white;
            border-left: outset 8px var(--secondary-color);
        }
        100% {
            background-color: var(--selected-color);
            border-left: outset 8px var(--selected-color);
        }
    }

    .correction-card {
        --primary-color: #000000;
        --secondary-color: #f0f8ff;
        --selected-color: #91daff5d;
        color: var(--primary-color);
        border-left: outset 8px var(--secondary-color);
        padding: 16px;
    }

    .correction-card:hover {
        background-color: var(--selected-color);
        border-left: outset 8px var(--selected-color);
        animation: on-select 1s;
    }
    
    .content { 
        display: flex;
        flex-direction:column;
        margin: 16px;
        display: grid;
        grid-template-columns: 5fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 2px;
        grid-row-gap: 0px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        padding-bottom: 16px;
    }

     .header > .user-info > .name {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 3ch;
    }

    .header > .user-info > .id {
        opacity: 0.42;
        font-style: italic;
    }

    .content > .body {
        padding: 8px;
        grid-area: 1 / 1 / 2 / 2; 
    }

    .content > .body > .title {
        font-size: 2.5ch;
    }

    .content > .actions { 
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }

    .content > .actions > button {
        border: none;
        color: white;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor:pointer;
        margin-bottom:8px;
    }

    .content > .actions > button:hover {
        opacity: 0.8;
    }

    .content > .actions > button.valide {
        background-color: #4CAF50;
    }

    .content > .actions > button.invalide {
        background-color: #f44336;
    }
</style>
<script>
function myFunction(id) {
  var content = document.getElementById(id+"_content");
  var actions = document.getElementById(id+"_actions");
  var copie = document.getElementById(id);
  if (content.style.display === "none") {
    content.style.display = "block";
    actions.style.display = "block";
    copie.style.display = "grid";
  } else {
    content.style.display = "none";
    actions.style.display = "none";
    copie.style.display = "block";
  }
}
</script>
{% if not feedback.copies %}
<div style="border:1px solid black;padding:0%;margin:1%;background-color:LightGreen;border-radius:4px;">
    Aucune copies 
</div>
<input type='button' id="form_1_good" value=""/>
<input type='button' id="form_1_bad" value=""/>
{% else %}
<div class="correction-card-list">
{% for i, (user,code,score,checked) in feedback.getCopiesAsEnumerate() %}
<div class="correction-card">
    <div class="header">
        <div class="user-info">
            <span class="name">{{user}}</span>
        </div>
        <span class="score">Score: {{score}}</span>
    </div>
    <div class="content">
        <div class="body">
            <span class="title">Réponse:</span>
            <div>
<pre>
<code class="language-python">{{code}}</code>
</pre>
            </div>
        </div>
        <div class="actions">
            <button class="valide"> Valide </button>
            <button class="invalide"> Invalide </button>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endif %}