{%  if not test.status %}
            <div
                    style="border:1px solid black;padding:1px;margin:3px;background-color:Tomato;border-radius:4px;">
                <button type="button"
                        class="btn btn-block btn-danger"
                        aria-expanded="true"
                        aria-controls="{{ test.make_id() }}"
                        data-toggle="collapse"
                        data-target="#{{ test.make_id() }}">
                    <b>{{ test.title }}</b>
                </button>
                <div id="{{ test.make_id() }}" class="show">
                    <div class="card card-danger;">
                        <p>
                            {{ test.context() }}
                        </p>
                        <p>
                            {{ test.results() }}
                        </p>
                        {% for assertion in test.assertions %}
                        {% if assertion.status %}
                        {% if test.params.show_success %}
                        <div class="card card-success;"
                             style="background-color:LightGreen;">
                            <b>{{ assertion.__str__() }}</b>
                        </div>
                        {% endif %}
                        {% else %}
                        <div class="card card-danger;"
                             style="font-color:white; background-color:Tomato;">
                            <b>{{ assertion.__str__() }}</b>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
{% else %}
            <div
                    style="border:1px solid black ;padding:1px;margin:3px;background-color:LightGreen;border-radius:4px;">
                <button type="button"
                        class="btn btn-block btn-success"
                        data-toggle="collapse"
                        data-target="#{{ test.make_id() }}">
                    <b>{{ test.title }}</b>
                </button>
                <div id="{{ test.make_id() }}" class="collapse">
                    <div class="card card-success;">
                        <p>
                            {{ test.context() }}
                        </p>
                        <p>
                            {{ test.results() }}
                        </p>
                        {% for assertion in test.assertions %}
                        {% if assertion.status %}
                        {% if test.params.show_success %}
                        <div class="card card-success;"
                             style="background-color:LightGreen;">
                            <b>{{ assertion.__str__() }}</b>
                        </div>
                        {% endif %}
                        {% else %}
                        <div class="card card-danger;"
                             style="font-color:white; background-color:Tomato;">
                            <b>{{ assertion.__str__() }}</b>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
{%  endif %}

