            <div style="border:1px solid black;
                        padding:1px;
                        margin:3px;
                        {%  if not test.status %}
                        background-color:Tomato;
                        {% else %}
                        background-color:LightGreen;
                        {% endif %}
                        border-radius:4px;">
                <button type="button"
                        {%  if not test.status %}
                        class="btn btn-block btn-danger"
                        aria-expanded="true"
                        aria-controls="{{ test.make_id() }}"
                        {% else %}
                        class="btn btn-block btn-success"
                        {% endif %}
                        data-toggle="collapse"
                        data-target="#{{ test.make_id() }}">
                    <b>{{ test.title }} : échec</b>
                </button>
                <div id="{{ test.make_id() }}" class="show">
                    {%  if not test.status %}
                    <div class="card card-danger;">
                    {% else %}
                    <div class="card card-success;">
                    {% endif %}
                        <p>
                            <b>Contexte d'exécution :</b>
                        </p>
                        <p>
                            {{ test.context() }}
                        </p>
                        <p>
                            <b>Effets du programme :</b>
                        </p>
                        <p>
                            {{ test.runner.exception }}
                            {{ test.results() }}
                        </p>
                        {% for assertion in test.assertions %}
                        {% if assertion.status %}
                        {% if test.params.report_success %}
                        <div class="card card-success;"
                             style="background-color:LightGreen;">
                            <b>{{ assertion.__str__() }}</b>
                        </div>
                        {% endif %}
                        {% else %}
                        <div class="card card-danger;"
                             style="color:white; background-color:Tomato;">
                            <b>{{ assertion.__str__() }}</b>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

