{{ intro }}
{% for i in range(currentstep+1) %}
<a class="text-dark" style="display: block; margin-top: 1em;" data-toggle="collapse" href="#collapse{{ i }}" role="button" aria-expanded="true" aria-controls="collapse{{ i }}">
▶ Question {{ i + 1 }}
</a>
<div class="collapse show" id="collapse{{ i }}">
<p>
{{ steps[i].question }}
</p>
{{ steps[i].inputblock|safe }}
{% if stepscore[i] == -1 %}
<a class="text-info" style="display: block; margin-top: 1em;" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="true" aria-controls="collapseExample2">
Attention !
</a>
{% elif stepscore[i] >= 0 and stepscore[i] < 100 %}
<a class="text-danger" style="display: block;" data-toggle="collapse" href="#collapseFeedback{{i}}" role="button" aria-expanded="true" aria-controls="collapseFeedback{{i}}">
Erreur
</a>
<div class="collapse show" id="collapseFeedback{{i}}">
{{ feedback }}
</div>
{% endif %}
{% if i == currentstep%}
<button class="btn btn-primary btn-sm action-submit">
   <span class="ion-hide-md-down">Valider</span>
</button>
{% endif %}

</div>
{% endfor %}
