{{ intro }}
<i class="fas fa-pencil"></i>
{% for i in range(istep+1) %}
<a class="text-primary" style="display: block; margin-top: 1em; margin-bottom: 1em;" data-toggle="collapse" href="#collapse{{ i }}" role="button" aria-expanded="true" aria-controls="collapse{{ i }}">
<i class="fas fa-pencil"></i> Question {{ i+1 }}
</a>
<div class="collapse show" id="collapse{{ i }}">
<div class="question">
{{ sequence[i].question }}
</div>
<div style="display: block; margin-top: 1em; margin-bottom:1em;">
{{ sequence[i].inputblock|safe }}
</div>
{% if i < istep %}
<div class="collapse" id="collapseSolution{{i}}">
<div class="card card-body card border-success mb-3 p-2"">
{{ sequence[i].solution|safe }}
</div>
</div>
 <button class="btn btn-outline-success btn-sm shadow-none" type="button" data-toggle="collapse" href="#collapseSolution{{i}}" role="button" aria-expanded="false" aria-controls="collapseSolution{{i}}">
Solution
</button>
{% endif %}
{% if i == istep and state != "final" %}
<button class="btn btn-primary btn-sm action-submit">
   <span class="ion-hide-md-down">Valider</span>
</button>
{% endif %}

</div>
{% endfor %}

{% if state == "final" %}
<hr class="divide">
<button class="btn btn-outline-primary shadow-none" onclick="document.location.reload(true);"> Nouveau </button>
{% if score == 100 %}
<span style="float: right;" class="btn btn-success">Score : {{score}} </span>
{% elif score >= 0 and score < 100 %}
<span style="float: right;" class="btn btn-warning">Score : {{score}} </span>
{% endif %}
{% endif %}
