<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Accordion Item #1
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>

{{ intro }}
{% for i in range(istep+1) %}
<a class="text-dark" style="display: block; margin-top: 1em; margin-bottom: 1em;" data-toggle="collapse" href="#collapse{{ i }}" role="button" aria-expanded="true" aria-controls="collapse{{ i }}">
▶ Question {{ i+1 }}
</a>
<div class="collapse show" id="collapse{{ i }}">
<div class="question">
{{ sequence[i].question }}
</div>
<div style="display: block; margin-top: 1em;">
{{ sequence[i].inputblock|safe }}
</div>
{% if i < istep %}
<div class="collapse" id="collapseSolution{{i}}">
<div class="card card-body card border-success mb-3"">
{{ sequence[i].solution|safe }}
</div>
</div>
 <button class="btn btn-outline-success btn-sm shadow-none" type="button" data-toggle="collapse" href="#collapseSolution{{i}}" role="button" aria-expanded="false" aria-controls="collapseSolution{{i}}">
Solution
</button>
{% endif %}
{% if i == istep and state != "final" %}
<button class="btn btn-primary btn-sm action-submit">
   <span class="ion-hide-md-down">Valider</span>
</button>
{% endif %}

</div>
{% endfor %}

{% if state == "final" %}
<hr class="divide">
<button class="btn btn-outline-primary shadow-none" onclick="document.location.reload(true);"> Nouveau </button>
{% if score == 100 %}
<span style="float: right;" class="btn btn-success">Score : {{score}} </span>
{% elif score >= 0 and score < 100 %}
<span style="float: right;" class="btn btn-warning">Score : {{score}} </span>
{% endif %}
{% endif %}
