<script type="text/javascript" charset="UTF-8" src="//cdnjs.cloudflare.com/ajax/libs/jsxgraph/0.99.7/jsxgraphcore.js"></script>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jsxgraph/0.99.7/jsxgraph.css" />

{{ jxgform | safe }}

{% if formmode == "input" %}

<div id="input"></div>

<script>
{{ jxgscript.base | safe }}
{{ jxgscript.input | safe }}

{% if data %} var data = {{ data | safe }}; {% endif %}

lstform=[];
for (var name in this){
    if (name.startsWith("form_")){
        lstform.push(name.toString()); 
        var input = document.createElement("input");
        input.id=name;
        input.type = "hidden";
        document.getElementById('input').appendChild(input);
    }
}

function updateInput(){
    for (name of lstform){
        document.getElementById(name).value = window[name]();
    }
}

updateInput();

brd.on('update',updateInput);

</script>

{% endif %}

{% if formmode == "correction" %}

<script>
var answer = {{ answer | safe }};
{% if data %} var data = {{ data | safe }}; {% endif %}
{{ jxgscript.base | safe }}
{{ jxgscript.correction | safe }}
</script>

{% endif %}

