 <div id="{{id}}"></div>

<input type="hidden" id="form_{{ id }}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathquill/0.10.1-b/mathquill.min.js" type="text/javascript"></script>

<script>
var MQ = MathQuill.getInterface(2);
MQ.config({charsThatBreakOutOfSupSub: '+-=<>',
  autoCommands: 'pi theta sqrt sum infty infin emptyset',
  autoOperatorNames: 'sin cos tan ln exp cup cap',
  });

var mathField_{{ id }} = MQ.MathField(document.getElementById("{{ id }}"));
mathField_{{ id }}.latex(String.raw`{{ value|safe }}`);
if (typeof setOfMathFields == "undefined") {
   setOfMathFields = {};
}
setOfMathFields.{{ id }} = mathField_{{ id }}
</script>