

{% if formmode == "input" %}
<div id="textselect"
 style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" 
 unselectable="on"
 onselectstart="return false;" 
 onmousedown="return false;">
{{htmltextselect | safe}}
</div>

<input type="hidden" id="form_1">

<script>
list=[]
var designmode="{{designmode}}";
if (designmode=="on") {
	document.getElementById('form_1').type = 'text';
	document.getElementById('form_1').readOnly = true;
}
var ColorHighlight="rgb(176, 196, 222)"
var words = document.querySelectorAll("#textselect span")
for (i = 0; i < words.length; i++) {
	words[i].addEventListener('click', function() {
		if (this.style.backgroundColor==ColorHighlight) {
			this.style.backgroundColor="transparent";
			list.splice( list.indexOf(this.id), 1 ); 
		} else {
			this.style.backgroundColor=ColorHighlight;
			list.push(this.id); 
		}
		document.getElementById('form_1').value = list
   	});
}
</script>
{% endif %}

{% if formmode == "correction" %}

<style>
.tooltip {
  visibility: visible;
  display: inline-block;
  border-bottom: 1px dotted green;
}
</style>

<div id="textselect">
{{htmltextselect | safe}}
</div>

<script>
var rightwords={{rightwords | safe }};
var wrongwords={{wrongwords | safe }};
var missedwords={{missedwords | safe }};

for (i = 0; i < rightwords.length; i++) {
	document.getElementById(rightwords[i]).style.color='green';
};
for (i = 0; i < wrongwords.length; i++) {
	document.getElementById(wrongwords[i]).className='tooltip';
	var dateSpan = document.createElement('span')
	dateSpan.innerHTML = "coucou";
	dateSpan.className='tooltiptext';
	document.getElementById(wrongwords[i]).appendChild(dateSpan);
};
for (i = 0; i < missedwords.length; i++) {
	document.getElementById(missedwords[i]).style.color='blue';
};
</script>

{% endif %}



