


<script>
    var textToSave = `{{exemple}}`;

var hiddenElement = document.createElement('a');
hiddenElement.id = "exempledownload";
hiddenElement.href = 'data:attachment/text,' + encodeURI(textToSave);
hiddenElement.target = '_blank';
hiddenElement.download = 'exemple';
hiddenElement.click();
function doclick(){
    console.log("doclick");
    console.log(textToSave);
    hiddenElement.click();
}
    var textToSave = `{{data}}`;

var hiddenElementb = document.createElement('a');
hiddenElementb.id = "exempledownload";
hiddenElementb.href = 'data:attachment/text,' + encodeURI(textToSave);
hiddenElementb.target = '_blank';
hiddenElementb.download = 'exemple';
hiddenElementb.click();
function doclickb(){
    console.log("doclick");
    console.log(textToSave);
    hiddenElementb.click();
}
</script>


<button type="button" class="btn-sm"
   onclick="doclick()" >
Download exemple 
</button>

<button type="button" class="btn-sm"
   onclick="doclicbk()" >
Download data 
</button>

<!--
<small>
<div> Solution pout le fichier d'exemple : {{sol}}</div>
<div style="border:1px solid black;padding:0%;margin:1%;border-radius:4px;">
<button type="button" class="btn-sm"
   data-toggle="collapse" data-target="#suite" >
Fichier de Donn&eacute;es : exemple 
</button>

<div id="suite" class="collapse" style="border:1px solid black;padding:0%;margin:1%;border-radius:4px;">
{{exemple}}
</div>
</div>

<div >
<button type="button" class="btn-sm"
   data-toggle="collapse" data-target="#suite2">
Fichier de Donn&eacute;es : data 
</button>
<div id="suite2" class="collapse" style="border:1px solid black;padding:0%;margin:1%;border-radius:4px;">
{{data}}
</div>
</div>
</small>


-->