


<script>
    var textToSave = `{{exemple}}`;

var hiddenElement = document.createElement('a');
hiddenElement.id = "exempledownloada";
hiddenElement.href = 'data:attachment/text,' + encodeURI(textToSave);
hiddenElement.target = '_blank';
hiddenElement.download = 'exemple';

function doclick(){
    console.log("doclick");
    console.log(textToSave);
    hiddenElement.click();
}
    var textToSaveb = `{{data}}`;

var hiddenElementb = document.createElement('a');
hiddenElementb.id = "exempledownloadb";
hiddenElementb.href = 'data:attachment/text,' + encodeURI(textToSaveb);
hiddenElementb.target = '_blank';
hiddenElementb.download = 'data';

function doclickb(){
    console.log("doclick");
    console.log(textToSaveb);
    hiddenElementb.click();
}
</script>


<button type="button" class="btn-sm"
   onclick="doclick()" >
Download exemple 
</button>


<button type="button" class="btn-sm"
   onclick="doclickb()" >
Download data 
</button>

