
<!-- default template used by the feedback code can be bypassed in  feedback class see documentation -->
<div style="border:1px solid black;padding:0%;margin:1%;border-radius:4px;">
<button type="button" class="btn"
   data-toggle="collapse" data-target="#suite">
Fichier de Donn&eacute;es : exemple 
</button>
<div id="suite" class="collapse">
   fichier {exemple}
</div>
</div>
<div style="border:1px solid black;padding:0%;margin:1%;background-color:rgb(144, 236, 238);border-radius:4px;">
<button type="button" class="btn btn-block btn-success"
   data-toggle="collapse" data-target="#suite2">
Fichier de Donn&eacute;es : data 
</button>
<div id="suite2" class="collapse">
   fichier {data}
</div>
</div>
