{% for txt in shuffledchoices %}
<label style="max-width:24%;height:auto;">
  <input type="radio" class="radio-img" name="form_{{ name }}" value="{{ loop.index0 }}">
  <img  style="max-width:90%;height:auto;" src="{{ txt }}">
</label>

{% endfor %}

<script>
{% if inputmode == 'retry' or inputmode == 'final' %}

var answer = {{answer | safe}};

for (var i = 0; i < {{ choices|length }}; i++) {
    if ('{{name}}_'+i.toString() in answer) {
        document.getElementById('form_{{name}}_'+i.toString()).checked = true;
    }
}

{% endif %}

{% if inputmode == 'final' %}

document.getElementById('label_{{name}}_{{numsol}}').className ="text-success";

{% endif %}
</script>

