  <div class="tab-content">
    {% for i in range(nbstep) %}
    {% if i == 0 %}
        <div id="q{{i}}" class="container tab-pane active"><br>
    {% else %}
        <div id="q{{i}}" class="container tab-pane fade"><br>
    {% endif %}
    <div class="question">
    {{ statement[i] }}
    </div>
    <div style="display: block; margin-top: 1em;">
    {{ comp[i]|component }}
    </div>
        <button class="nexttab btn btn-light" onclick="showTab({{i}})">Suivant</i></button>
      <button class="btn btn-primary action-submit">Terminer</button>
  </div>
  {% endfor %}
</div>

    <script type="text/javascript">
      /* -------------------------------------------------------------
            bootstrapTabControl
        ------------------------------------------------------------- */
        function showTab(i){
            window.alert("q"+"2");
            var tab = document.getElementById("q2");
            tab.removeClass('active');
            tab.addClass('fade');
            tab.removeClass('fade');
            tab.addClass('active');
        }
    </script>
