<div class="question">
{{ question|markdown }}
</div>
<div style="display: block; margin-top: 1em;">
{{ inputblock|markdown|safe }}
</div>
{% if score >= 0 and score < 100 and solution|length > 1%}
<div style="margin-top: 1em;">
<p>
</p>
<div class="collapse" id="collapseSolution">
<div class="card card-body card border-success mb-3"">
{{ solution }}
</div>
</div>
</div>
{% endif %}
<hr class="divide">
{% if score >=0 %}
 <button class="btn btn-success shadow-none" type="button" data-toggle="collapse" href="#collapseSolution" role="button" aria-expanded="false" aria-controls="collapseSolution">
    Solution
  </button>
<button class="btn btn-primary shadow-none" onclick="document.location.reload(true);"> Nouveau </button>
{% else %}
<button class="btn btn-primary action-submit">Valider</button>
{% endif %}
{% if score == 100 %}
<button type="button" style="float: right;" class="btn success-state">Score : {{score}} </button>
{% elif score >= 0 and score < 100 %}
<button type="button" style="float: right;" class="btn neutral-state">Score : {{score}} </button>
{% else %}
<button type="button" style="float: right;" class="btn neutral-state">Score : - </button>
{% endif %}

