<div>
{{ question|safe }}
</div>
<div style="display: block; margin-top: 1em;">
{{ inputblock|safe }}
</div>
<hr class="border">
{% if score >=0 %}
<a type="button" class="btn btn-primary action-reroll" href="`+link+`?action=reroll"> Nouveau</a>
{% else %}
<button class="btn btn-primary action-submit">Valider</button>
{% endif %}
{% if score == 100 %}
<button type="button" style="float: right;" class="btn success-state">Score : {{score}} </button>
{% elif score >= 0 and score < 100 %}
<button type="button" style="float: right;" class="btn neutral-state">Score : {{score}} </button>
{% else %}
<button type="button" style="float: right;" class="btn neutral-state">Score : - </button>
{% endif %}
