{% for txt in shuffledchoices %}
<div>
  <input type="radio" id="form_{{ name }}_{{ loop.index0 }}" name="form_{{ name }}" value="{{ loop.index0 }}" {% if inputmode == 'final' %}disabled{% endif %}>
  <label for="form_{{ name }}_{{ loop.index0 }}" id="label_{{ name }}_{{ loop.index0 }}"> {{ txt }} </label>
</div>
{% endfor %}

<script>
{% if inputmode == 'retry' or inputmode == 'final' %}

var answer = {{answer | safe}};

for (var i = 0; i < {{ choices|length }}; i++) {
    if ('{{name}}_'+i.toString() in answer) {
        document.getElementById('form_{{name}}_'+i.toString()).checked = true;
    }
}

{% endif %}

{% if inputmode == 'final' %}

document.getElementById('label_{{name}}_{{numsol}}').className ="text-success";

{% endif %}
</script>   





