{{ intro }}
{% for i in range(istep+1) %}
<a class="text-dark" style="display: block; margin-top: 1em;" data-toggle="collapse" href="#collapse{{ i }}" role="button" aria-expanded="true" aria-controls="collapse{{ i }}">
▶ Question {{ i+1 }}
</a>
<div class="collapse show" id="collapse{{ i }}">
<p>
{{ questions[steps[i]] }}
</p>
{{ inputblocks[steps[i]]|safe }}
<br><br>
{% if i < istep %}

 <button class="btn btn-outline-success btn-sm shadow-none" type="button" data-toggle="collapse" href="#collapseSolution" role="button" aria-expanded="false" aria-controls="collapseSolution">
Solution
</button>
{% endif %}
{% if i == istep %}
<button class="btn btn-primary btn-sm action-submit">
   <span class="ion-hide-md-down">Valider</span>
</button>
{% endif %}

</div>
{% endfor %}

{% if score >= 0 %}
<button class="btn btn-outline-primary shadow-none" onclick="document.location.reload(true);"> Nouveau </button>
{% if score == 100 %}
<span style="float: right;" class="btn btn-success">Score : {{score}} </span>
{% elif score >= 0 and score < 100 %}
<span style="float: right;" class="btn btn-warning">Score : {{score}} </span>
{% endif %}
{% endif %}