{{ intro }}
{% for i in range(istep+1) %}
<a class="text-dark" style="display: block; margin-top: 1em;" data-toggle="collapse" href="#collapse{{ i }}" role="button" aria-expanded="true" aria-controls="collapse{{ i }}">
▶ Question {{ i+1 }}
</a>
<div class="collapse show" id="collapse{{ i }}">
<p>
{{ questions[steps[i]] }}
</p>
{{ inputblocks[steps[i]]|safe }}
{% if i == istep %}
<br>
<button class="btn btn-primary btn-sm action-submit">
   <span class="ion-hide-md-down">Valider</span>
</button>
{% endif %}

</div>
{% endfor %}
